body
{
    background-color: #EEEBE7;
}

#manage-cars-btn
{
    margin-right: 0.3em;
}

#manage-employees-btn
{

}

#return-car-main-btn
{
}

#return-car-create-btn
{
    margin-left: 1em;
}

#return-car-remove-btn
{
    margin-left: 1em;
}

#return-car-update-btn
{
    margin-left: 1em;
}

#create-employee-form-div
{
    margin-top: 2em;
}

#add-employee-btn
{
    margin-right: 0.3em;
}

#add-car-btn
{
    margin-right: 0.3em;
}

#refresh-car-main-btn
{
    margin-right:  0.3em;
}

#remove-car-btn
{
    margin-right: 0.3em;
}

#update-car-btn
{
    margin-right: 0.3em;
}

#display-car-btn
{
    margin-right: 0.3em;
}

#form-div
{
    margin-top: 2em;
}

#form-add-car
{
    margin-top: 1em;
}

#display-info
{
    font-weight: bold;
}

#header-remove-success
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #008000;
}

#update-car-btn-submit {
    margin-bottom: 1em;
}

#current-car-params
{
    margin-top: 0.5em;
}

#return-btn-update
{
    margin-left: 18.3em;
}


#return-employee-main-btn
{
    margin-top: 1em;
}

#create-car-form-div
{
    margin-top: 1em;
}

#remove-car-form-div
{
    margin-top: 1em;
}

#update-car-form-div
{
    margin-top: 1em;
}

#display-car-info
{
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 2em;
}

#header-car-div
{
    background-color: #3B98AF;
    padding-top: 1em;
    padding-bottom: 1em;
}

#header-employee-div
{
    background-color: #3B98AF;
    padding-top: 1em;
    padding-bottom: 1em;
}

#header-car
{
    color: #ECECEC;
    margin-left: 1em;
}

#header-employee
{
    color: #ECECEC;
    margin-left: 1em;
}

#car-nav-div
{
    margin-top: 0.05em;
    padding-left: 2em;
    background-color: #3B98AF;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#employee-nav-div
{
    margin-top: 0.05em;
    padding-left: 2em;
    background-color: #3B98AF;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#header-car-info
{
    color: #1D8858;
}

#header-employee-info
{
    color: #1D8858;
}

#car-main-div-info
{
    margin-top: 1em;
    margin-bottom: 3em;
}

#employee-main-div-info
{
    margin-top: 1em;
    margin-bottom: 3em;
}

#employee-main-div-info
{
    margin-top: 1em;
    margin-bottom: 3em;
}