body
{
    background-color: lightgray;
}

#manage-cars-btn
{
    margin-right: 0.3em;
}

#manage-employees-btn
{

}

#return-car-main-btn
{
    margin-left: 1em;
}

#return-car-create-btn
{
    margin-left: 1em;
}

#return-car-remove-btn
{
    margin-left: 1em;
}

#return-car-update-btn
{
    margin-left: 1em;
}

#create-employee-form-div
{
    margin-top: 2em;
}


#add-employee-btn
{
    margin-right: 0.3em;
}

#add-car-btn
{
    margin-right: 0.3em;
}

#remove-car-btn
{
    margin-right: 0.3em;
}

#update-car-btn
{
    margin-right: 0.3em;
}

#display-car-btn
{
    margin-right: 0.3em;
}

#form-div
{
    margin-top: 2em;
}

#form-add-car
{
    margin-top: 1em;
}

#display-info
{
    font-weight: bold;
}

#header-remove-success
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #008000;
}

#update-car-btn-submit {
    margin-bottom: 1em;
}

#current-car-params
{
    margin-top: 0.5em;
}

#return-btn-update
{
    margin-left: 18.3em;
}


#return-employee-main-btn
{
    margin-top: 1em;
}

#create-employee-form-div
{
    display: none;
}

#create-car-form-div
{
    margin-top: 1em;
}

#remove-car-form-div
{
    margin-top: 1em;
}

#update-car-form-div
{
    margin-top: 1em;
}