{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Manage employees - add, remove</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/szymon/SymfonyProjects/CarsManager/src/Controller/EmployeeController.php'|file_link(0) }}">src/Controller/EmployeeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/szymon/SymfonyProjects/CarsManager/templates/employee/employee_main.html.twig'|file_link(0) }}">templates/employee/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
